@import "tailwindcss";
@import "react-image-crop/dist/ReactCrop.css";
@import "tw-animate-css"; /* ← v4 대응 패키지 */

/** initialization **/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif !important;
  color: black;
}

#root {
  position: relative;
}
html,
body {
  max-width: 100vw;
  background-color: #fafafa;
  @apply font-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@theme {
  --color-pilltime-blue: #3b82f6;
  --color-pilltime-violet: #8b5cf6;
  --color-pilltime-teal: #14b8a6;
  --color-pilltime-orange: #f97316;
  --color-pilltime-yellow: #eab308;
  --color-pilltime-grayLight: #f9fafb;
  --color-pilltime-grayDark: #1f2937;
}

.wrapper {
  @apply max-w-full md:max-w-screen-lg lg:max-w-screen-xl min-h-[calc(100dvh-11.5rem)] overflow-x-hidden !mx-auto flex justify-center;
}

.inner {
  @apply basis-full max-w-full
    sm:basis-11/12 sm:max-w-11/12
    md:basis-2/3 md:max-w-2/3
    lg:basis-1/2 lg:max-w-1/2
    flex-grow-0;
}

.inner-expanded {
  @apply basis-full max-w-full
    sm:basis-10/12 sm:max-w-10/12
    md:basis-3/4 md:max-w-3/4
    lg:basis-2/3 lg:max-w-2/3
    flex-grow-0;
}

/* ------------------- lib customise --------------------- */

/* 터치 모멘텀 & 세로 제스처 보장 */
.pilltime-timepicker-popup .ant-picker-time-panel-column {
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

/* (선택) 모바일 탭 타겟 넓히기 */
.pilltime-timepicker-popup .ant-picker-time-panel-cell {
  padding: 10px 0 !important;
}
